<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cuber.base.repo.mapper.CatalogItemDOMapper">
  <resultMap id="BaseResultMap" type="org.cuber.base.repo.model.CatalogItemDO">
    <id column="catalog_item_id" jdbcType="INTEGER" property="catalogItemId" />
    <result column="catalog_id" jdbcType="INTEGER" property="catalogId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="item_position" jdbcType="INTEGER" property="itemPosition" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    catalog_item_id, catalog_id, item_name, item_value, item_desc, item_position, status, 
    operator, update_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_base_catalog_item
    where catalog_item_id = #{catalogItemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_base_catalog_item
    where catalog_item_id = #{catalogItemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.cuber.base.repo.model.CatalogItemDO">
    insert into t_base_catalog_item (catalog_item_id, catalog_id, item_name, 
      item_value, item_desc, item_position, 
      status, operator, update_time, 
      create_time)
    values (#{catalogItemId,jdbcType=INTEGER}, #{catalogId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, 
      #{itemValue,jdbcType=VARCHAR}, #{itemDesc,jdbcType=VARCHAR}, #{itemPosition,jdbcType=INTEGER}, 
      #{status,jdbcType=VARCHAR}, #{operator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.cuber.base.repo.model.CatalogItemDO">
    insert into t_base_catalog_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="catalogItemId != null">
        catalog_item_id,
      </if>
      <if test="catalogId != null">
        catalog_id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemValue != null">
        item_value,
      </if>
      <if test="itemDesc != null">
        item_desc,
      </if>
      <if test="itemPosition != null">
        item_position,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="catalogItemId != null">
        #{catalogItemId,jdbcType=INTEGER},
      </if>
      <if test="catalogId != null">
        #{catalogId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null">
        #{itemValue,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemPosition != null">
        #{itemPosition,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.cuber.base.repo.model.CatalogItemDO">
    update t_base_catalog_item
    <set>
      <if test="catalogId != null">
        catalog_id = #{catalogId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemValue != null">
        item_value = #{itemValue,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="itemPosition != null">
        item_position = #{itemPosition,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where catalog_item_id = #{catalogItemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.cuber.base.repo.model.CatalogItemDO">
    update t_base_catalog_item
    set catalog_id = #{catalogId,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_value = #{itemValue,jdbcType=VARCHAR},
      item_desc = #{itemDesc,jdbcType=VARCHAR},
      item_position = #{itemPosition,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      operator = #{operator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where catalog_item_id = #{catalogItemId,jdbcType=INTEGER}
  </update>
</mapper>